<header
  #someHeader
  class="flex justify-between items-center fixed top-0 z-10 w-full"
>
  <nav
    class="grid grid-cols-6 relative md:flex items-center md:justify-between flex-wrap font-jetBrains w-full z-20"
  >
    <div
      class="col-span-6 mt-5 md:mt-0 flex items-center justify-center flex-shrink-0 text-white mr-6"
    >
      <a class="flex justify-center items-center" href="">
        <img
          class="w-8 h-8 mr-2 animate-bounce"
          src="./assets/images/62b2405d3769b50bba992876.png"
          alt=""
          style="filter: brightness(5)"
        />
      </a>
      <span class="font-semibold text-lg tracking-tight">Sebastian Noli</span>
    </div>
    <div class="md:flex items-center menu-list">
      <ul>
        <li class="mr-4">
          <a
            (click)="scrollTo('about-container')"
            class="text-teal-200 hover:text-white cursor-pointer"
          >
            <span class="text-white"> 01. </span>
            {{ "about-nav" | translate }}
          </a>
        </li>
        <li class="mr-4">
          <a
            (click)="scrollTo('experience-container')"
            class="text-teal-200 hover:text-white mr-4 cursor-pointer"
          >
            <span class="text-white"> 02. </span>
            {{ "experience-nav" | translate }}
          </a>
        </li>
        <li class="mr-4">
          <a
            (click)="scrollTo('skills-container')"
            class="text-teal-200 hover:text-white mr-4 cursor-pointer"
          >
            <span class="text-white">03.</span>
            {{ "skills-nav" | translate }}
          </a>
        </li>

        <li (clickOutside)="closeDropDown()">
          <button
            *ngIf="translate.currentLang === 'en'"
            (click)="toggleLanguagesDropdown()"
            type="button"
            data-dropdown-toggle="language-dropdown-menu"
            class="inline-flex justify-center items-center p-2 text-sm text-teal-200 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white"
          >
            <img
              class="w-5 rounded-full mr-2"
              src="assets/images/Flags/usasvg.svg"
              alt=""
            />
            English (US)
          </button>
          <button
            *ngIf="translate.currentLang === 'es'"
            (click)="toggleLanguagesDropdown()"
            type="button"
            data-dropdown-toggle="language-dropdown-menu"
            class="inline-flex justify-center items-center p-2 text-sm text-teal-200 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white"
          >
            <img
              class="w-5 rounded-full mr-2"
              src="assets/images/Flags/spainc.svg"
              alt=""
            />
            Español (ES)
          </button>
          <!-- Dropdown -->
          <div
            *ngIf="showLanguagesDropDown"
            class="absolute mt-2 z-50 text-base list-none bg-[#072f48] rounded divide-y divide-gray-100 shadow dark:bg-gray-700"
            id="language-dropdown-menu"
          >
            <ul class="py-1" role="none">
              <li>
                <a
                  (click)="switchLanguage('en')"
                  class="block py-2 px-2 text-sm text-teal-200 hover:text-gray-500 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer"
                  role="menuitem"
                >
                  <div class="flex justify-center items-center">
                    <img
                      class="w-5 rounded-full mr-2"
                      src="assets/images/Flags/usasvg.svg"
                      alt=""
                    />

                    <div class="text-xs">English (US)</div>
                  </div>
                </a>
                <a
                  (click)="switchLanguage('es')"
                  class="block py-2 px-2 text-sm text-teal-200 hover:text-gray-500 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer"
                  role="menuitem"
                >
                  <div class="flex justify-center items-center">
                    <img
                      class="w-5 rounded-full mr-2"
                      src="assets/images/Flags/spainc.svg"
                      alt=""
                    />
                    <div class="text-xs">Español (ES)</div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>

      <div>
        <button
          (click)="seeResume()"
          class="ml-3 -mt-2 text-sm px-4 py-2 leading-none border rounded text-teal-200 border-teal-200 hover:text-teal-200 hover:bg-teal-200 hover:bg-opacity-10"
        >
          {{ "resume-btn" | translate }}
        </button>
      </div>
    </div>

    <!-- Responsive Dropdown -->
    <div
      (clickOutside)="closeDropDownResponsive()"
      class="language-dropdown col-span-5"
    >
      <button
        *ngIf="translate.currentLang === 'en'"
        (click)="toggleLanguagesDropdownResponsive()"
        type="button"
        data-dropdown-toggle="language-dropdown-menu-responsive"
        class="inline-flex justify-center items-center p-2 text-sm text-teal-200 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        <img
          class="w-5 rounded-full mr-2"
          src="assets/images/Flags/usasvg.svg"
          alt=""
        />
        English (US)
      </button>
      <button
        *ngIf="translate.currentLang === 'es'"
        (click)="toggleLanguagesDropdownResponsive()"
        type="button"
        data-dropdown-toggle="language-dropdown-menu-responsive"
        class="inline-flex justify-center items-center p-2 text-sm text-teal-200 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        <img
          class="w-5 rounded-full mr-2"
          src="assets/images/Flags/spainc.svg"
          alt=""
        />
        Español (ES)
      </button>
      <div
        *ngIf="showLanguagesDropDownResponsive"
        class="absolute mt-2 z-50 text-base list-none bg-[#072f48] rounded divide-y divide-gray-100 shadow dark:bg-gray-700"
        id="language-dropdown-menu-responsive"
      >
        <ul class="py-1" role="none">
          <li>
            <a
              (click)="switchLanguage('en')"
              class="block py-2 px-2 text-sm text-teal-200 hover:text-gray-500 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer"
              role="menuitem"
            >
              <div class="flex justify-center items-center">
                <img
                  class="w-5 rounded-full mr-2"
                  src="assets/images/Flags/usasvg.svg"
                  alt=""
                />

                <div class="text-xs">English (US)</div>
              </div>
            </a>
            <a
              (click)="switchLanguage('es')"
              class="block py-2 px-2 text-sm text-teal-200 hover:text-gray-500 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer"
              role="menuitem"
            >
              <div class="flex justify-center items-center">
                <img
                  class="w-5 rounded-full mr-2"
                  src="assets/images/Flags/spainc.svg"
                  alt=""
                />
                <div class="text-xs">Español (ES)</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Hamburger -->
    <div class="hamburger">
      <div>
        <button (click)="activateHamMenu()">
          <div class="ham-box">
            <div
              class="ham-box-inner"
              [ngClass]="{
                'ham-box-inner': !hamMenuActive,
                'ham-box-inner-active': hamMenuActive
              }"
            ></div>
          </div>
        </button>
        <aside
          [ngClass]="{
            'aside-navbar-active': hamMenuActive,
            'aside-navbar': !hamMenuActive
          }"
        >
          <nav class="font-jetBrains">
            <ol>
              <li>
                <a
                  (click)="responsiveScrollTo('about-container')"
                  class="text-teal-200 hover:text-white"
                >
                  {{ "about-nav" | translate }}
                </a>
              </li>
              <li>
                <a
                  (click)="responsiveScrollTo('experience-container')"
                  class="text-teal-200 hover:text-white"
                >
                  {{ "experience-nav" | translate }}
                </a>
              </li>
              <li>
                <a
                  (click)="responsiveScrollTo('skills-container')"
                  class="text-teal-200 hover:text-white"
                >
                  {{ "skills-nav" | translate }}
                </a>
              </li>
            </ol>

            <div>
              <button
                (click)="seeResume()"
                class="text-sm mt-10 px-8 py-4 leading-none border rounded text-teal-200 border-teal-200 hover:text-teal-200 hover:bg-teal-200 hover:bg-opacity-10"
              >
                {{ "resume-btn" | translate }}
              </button>
            </div>
          </nav>
        </aside>
      </div>
    </div>
  </nav>
</header>
