.numbered-heading-right {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  justify-content: end;
  width: 100%;
  font-size: clamp(26px, 5vw, 32px);
  white-space: nowrap;
  @apply text-teal-200;
  line-height: 1.1;
  @apply font-jetBrains;
}

.numbered-heading-right::before {
  position: relative;
  bottom: -3px;
  counter-increment: section 2;
  content: "0" counter(section) ".";
  margin-right: 10px;
  color: white;
  font-size: clamp(16px, 3vw, 20px);
  font-weight: 400;
}

.numbered-heading-right::after {
  content: "";
  display: block;
  position: relative;
  top: 2px;
  width: 300px;
  height: 2px;
  margin-left: 20px;
  background-color: #233554;
}

.experience-container {
  padding: 75px 100px;
}

@media (max-width: 1024px) {
  .experience-container {
    padding: 20px 20px;
  }
}

//tabs

.tabs {
  @apply w-full lg:w-1/2 flex flex-col lg:flex-row font-jetBrains pt-8 pb-5 overflow-hidden relative;
  height: 600px;
}


.tabs .tab-header {
  @apply flex flex-row lg:flex-col w-full lg:w-28 lg:border-r border-b lg:border-b-0 border-[#ccc] uppercase text-[#8892b0] pt-12;
  font-weight: 500;
  font-size: 16px;
  line-height: 50px;
}

.tabs .tab-header > div {
  @apply lg:w-28 w-20 sm:w-32 pl-3 cursor-pointer h-9 lg:h-12 flex justify-center lg:block text-sm sm:text-base;
  transition: all 800ms ease-in-out;
}

.tab-header-active {
  // width: 100%;
  color: #007cf0;
  // border-right: 3px #007cf0 solid;
  // border-radius: 3px;
  // transition: all 800ms ease-in-out;
}

.tabs .tab-content {
  position: relative;
  height: 100%;
  overflow: hidden;
  color: #8892b0;
}

.tabs .tab-content > div {
  // position: absolute;
  // text-align: center;
  padding: 40px 20px;
  top: -200%;
  opacity: 0;
  height: 100%;
}

.tabs .tab-content > .tab-content-active {
  position: absolute;
  padding: 40px 20px;
  top: -200%;
  opacity: 1;
  transition: opacity 700ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tabs .tab-content > div.tab-content-active {
  top: 0px;
}

.tabs .tab-indicator {
  position: absolute;
  width: 3px;
  height: 58px;
  background: #007cf0;
  left: 110px;
  top: 60px;
  transition: all 500ms ease-in-out;
}

@media (max-width: 768px) {
  .tabs .tab-indicator {
    width: 120px;
    height: 3px;
    left: 0px;
    top: 114px;
  }
}

@media (max-width: 639px) {
  .tabs .tab-indicator {
    width: 80px;
    height: 3px;
    left: 0px;
    top: 114px;
  }
}

