<section #experience class="experience-container w-full lg:h-screen">
  <h2 class="numbered-heading-right">Experience</h2>
  <div class="flex flex-col md:flex-row w-full">
    <div class="w-full md:w-1/2 flex items-center justify-center mb-5 md:mb-0">
      <img style="height: 90%; width: 90%" src="./assets/images/undraw_programming_re_kg9v.svg" alt="" />
    </div>
    <div class="tabs w-full md:w-1/2">
      <div class="tab-header">
        <div class="active">UCV</div>
        <div>Megapunto</div>
        <div>Divelia</div>
        <div>TISI</div>
      </div>
      <div class="tab-indicator"></div>
      <div class="tab-content">
        <div class="active">
          <h1 class="text-xl text-[#ccd6f6]">
            Front-end Developer<span
              class="text-[#007cf0] text-xl"
              style="word-spacing: -5px"
            >
              》UCV</span
            >
          </h1>
          <h2 class="text-[#a8b2d1] text-sm mt-1 mb-4">
            August 2021 - Present
          </h2>

          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint quia
            nobis voluptatem quae repellendus voluptate ab consectetur, eum non
            eaque alias pariatur necessitatibus earum accusamus inventore
            commodi ratione odio quibusdam sapiente illum at. Facere quod
            molestias sequi dolores veniam sunt adipisci nesciunt consequuntur
            commodi quasi modi, debitis molestiae necessitatibus minus autem a
            laboriosam dolore consectetur deleniti aspernatur. Necessitatibus
            similique blanditiis magnam doloremque hic. Voluptatem, nisi quaerat
            officiis impedit alias nobis perferendis, odio minima velit quisquam
            natus, laboriosam explicabo cum laborum eveniet! Sed, eos cupiditate
            temporibus quidem dicta illo! Voluptas, accusamus pariatur illum
            quam nemo totam ab ea! Veniam, necessitatibus aliquid?
          </p>
        </div>
        <div>
          <h1 class="text-xl text-[#ccd6f6]">
            Freelance<span
              class="text-[#007cf0] text-xl"
              style="word-spacing: -5px"
            >
              》MEGAPUNTO</span
            >
          </h1>
          <h2 class="text-[#a8b2d1] text-sm mt-1 mb-4">
            January 2022 - July-2022
          </h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint quia
            nobis voluptatem quae repellendus voluptate ab consectetur, eum non
            eaque alias pariatur necessitatibus earum accusamus inventore
            commodi ratione odio quibusdam sapiente illum at. Facere quod
            molestias sequi dolores veniam sunt adipisci nesciunt consequuntur
            commodi quasi modi, debitis molestiae necessitatibus minus autem a
            laboriosam dolore consectetur deleniti aspernatur. Necessitatibus
            similique blanditiis magnam doloremque hic. Voluptatem, nisi quaerat
            officiis impedit alias nobis perferendis, odio minima velit quisquam
            natus, laboriosam explicabo cum laborum eveniet! Sed, eos cupiditate
            temporibus quidem dicta illo! Voluptas, accusamus pariatur illum
            quam nemo totam ab ea! Veniam, necessitatibus aliquid?
          </p>
        </div>

        <div>
          <h1 class="text-xl text-[#ccd6f6]">
            Angular Developer<span
              class="text-[#007cf0] text-xl"
              style="word-spacing: -5px"
            >
              》DIVELIA</span
            >
          </h1>
          <h2 class="text-[#a8b2d1] text-sm mt-1 mb-4">
            July 2021 - Agugust 2021
          </h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint quia
            nobis voluptatem quae repellendus voluptate ab consectetur, eum non
            eaque alias pariatur necessitatibus earum accusamus inventore
            commodi ratione odio quibusdam sapiente illum at. Facere quod
            molestias sequi dolores veniam sunt adipisci nesciunt consequuntur
            commodi quasi modi, debitis molestiae necessitatibus minus autem a
            laboriosam dolore consectetur deleniti aspernatur. Necessitatibus
            similique blanditiis magnam doloremque hic. Voluptatem, nisi quaerat
            officiis impedit alias nobis perferendis, odio minima velit quisquam
            natus, laboriosam explicabo cum laborum eveniet! Sed, eos cupiditate
            temporibus quidem dicta illo! Voluptas, accusamus pariatur illum
            quam nemo totam ab ea! Veniam, necessitatibus aliquid?
          </p>
        </div>
        <div>
          <h1 class="text-xl text-[#ccd6f6]">
            Front-end Developer<span
              class="text-[#007cf0] text-xl"
              style="word-spacing: -5px"
            >
              》TISI</span
            >
          </h1>
          <h2 class="text-[#a8b2d1] text-sm mt-1 mb-4">
            January 2021 - July 2021
          </h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint quia
            nobis voluptatem quae repellendus voluptate ab consectetur, eum non
            eaque alias pariatur necessitatibus earum accusamus inventore
            commodi ratione odio quibusdam sapiente illum at. Facere quod
            molestias sequi dolores veniam sunt adipisci nesciunt consequuntur
            commodi quasi modi, debitis molestiae necessitatibus minus autem a
            laboriosam dolore consectetur deleniti aspernatur. Necessitatibus
            similique blanditiis magnam doloremque hic. Voluptatem, nisi quaerat
            officiis impedit alias nobis perferendis, odio minima velit quisquam
            natus, laboriosam explicabo cum laborum eveniet! Sed, eos cupiditate
            temporibus quidem dicta illo! Voluptas, accusamus pariatur illum
            quam nemo totam ab ea! Veniam, necessitatibus aliquid?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
