<section
  class="mt-10 lg:flex lg:items-center font-jetBrains intro-container w-full lg:h-screen"
>
  <div class="title w-full lg:w-3/4">
    <h1>
      <span class="a1"> Hi, my name is </span>
      <span class="a2"> Sebastian Noli. </span>
      <span class="a3"> I'm Software Developer. </span>
    </h1>
    <div class="font-normal text-xl font-jetBrains">
      <p class="text-[#dff6ff] intro-text">
        I'm a software developer specialized in designing and development web
        applications. Currently, I'm working as a Frontend Developer for one of
        the universities with the largest presence in Peru.
      </p>
      <div class="mt-5 sm:mt-10 text-xl">
        <a
          href="#"
          class="btn-hire-me w-full sm:w-auto flex justify-center items-center sm:inline-block text-sm px-8 py-4 leading-none border rounded text-teal-200 border-teal-200 hover:text-teal-200 hover:bg-teal-200 hover:bg-opacity-10 lg:mt-0"
          >Contact me!</a
        >
      </div>
    </div>
  </div>
  <div class="profile-img-container">
    <div class="img-box ml-2">
      <div class="img-container">
        <img src="~/assets/images/profile-photo.jpg" alt="" />
        <button
          class="btn-hire-me text-sm px-8 py-4 leading-none border rounded text-teal-200 border-teal-200 hover:text-teal-200 hover:bg-teal-200 hover:bg-opacity-10 lg:mt-0"
        >
          Hire me
        </button>
      </div>
    </div>
  </div>
</section>
