<section class="title mt-10 font-jetBrains intro-container w-full">
  <h1>
    <span class="a1"> Hi, my name is </span>
    <span class="a2"> Sebastian Noli. </span>
    <span class="a3"> I'm Software Developer. </span>
  </h1>
  <div class="font-normal text-xl font-jetBrains">
    <p class="text-[#dff6ff] intro-text">
      I'm a software developer specialized in designing and development web
      applications. Currently, I'm working as a Frontend Developer for one of
      the universities with the largest presence in Peru.
    </p>
    <div class="mt-5 sm:mt-10 text-xl">
      <a
        href="#"
        class="w-full sm:w-auto flex justify-center items-center sm:inline-block text-sm px-8 py-4 leading-none border rounded text-teal-200 border-teal-200 hover:text-teal-200 hover:bg-teal-200 hover:bg-opacity-10 lg:mt-0"
        >Contact me!</a
      >
    </div>
  </div>
</section>
