<section #about class="about-container w-full lg:h-screen">
  <h2 class="numbered-heading">{{ "about-me-header" | translate }}</h2>
  <div class="flex flex-col-reverse md:flex-row w-full">
    <div class="w-full md:w-1/2">
      <p class="font-jetBrains">
        {{ "about-me-text-1" | translate }}
        <a
          href="https://www.upc.edu.pe/en/"
          class="text-teal-200 cursor-pointer"
          target="_blank"
          >Universidad Peruana de Ciencias Aplicacadas</a
        >
        {{ "about-me-text-2" | translate }}
      </p>
      <p class="font-jetBrains mt-4">
        {{ "about-me-text-3" | translate }}

        <a
          href="https://www.ucv.edu.pe/"
          class="text-teal-200 cursor-pointer"
          target="_blank"
          >Universidad Cesar Vallejo</a
        >
        {{ "about-me-text-4" | translate }}
      </p>
      <p></p>
    </div>
    <div class="w-full md:w-1/2 flex items-center justify-center mb-5 md:mb-0">
      <img src="./assets/images/about-image-removebg.png" alt="" />
    </div>
  </div>
</section>
