<main [ngClass]="{ 'blur-sm': menuActive }" class="main-container w-full">
  <app-introduction></app-introduction>
  <app-about></app-about>
  <app-experience></app-experience>
  <app-skills></app-skills>
  <!-- <section style="padding: 75px 150px">
    <div class="flex items-center">
      <div class="box">
        <span></span>
        <h2>01</h2>
      </div>
      <h2 class="ml-20 text-2xl numbered-heading">About Me</h2>
      <div class="border-solid border-2 border-slate-900 h-5 w-90">hola</div>
    </div>
  </section>

  <section style="padding: 75px 150px">
    <div class="box">
      <span></span>
      <h2>02</h2>
    </div>
  </section>

  <section style="padding: 75px 150px">
    <div class="box">
      <span></span>
      <h2>03</h2>
    </div>
  </section>

  <section style="padding: 75px 150px">
    <div class="box">
      <span></span>
      <h2>04</h2>
    </div>
  </section> -->
</main>
